[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "pwndbg"]
	path = pwndbg
	url = https://github.com/pwndbg/pwndbg
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "autojump"]
	path = autojump
	url = https://github.com/wting/autojump.git
